body {
    margin: 0;
    background: #000;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 8px 16px 16px;
    font-weight: 500;
}

h1 {
    color: #222;
    background: #fff;
}

.app {
    width: 795px;
    margin: 0 auto;
    height: 100vh;
    background: #000;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.app ~ * {
    flex-shrink: 0;
}

.selector {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.owners {
    width: 50px;
    flex-shrink: 0;
}

.owner {
    height: 50px;
    display: flex;
    position: relative;
}

.owner > * {
    flex-shrink: 0;
}

.blackout {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
}

.blackout:not(:hover) {
    background: rgba(0, 0, 0, 0.6);
    transition: background .15s ease-out;
}

.selected > .blackout {
    background: transparent;
}

.ownerName {
    padding: 14px 8px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    color: #fff;
    transition: color .15s ease-out;
}

a.ownerName {
    cursor: pointer;
}

a.ownerName:hover {
    color: #f88;
    transition: none;
}

.owner:not(:hover) > .ownerName {
    display: none;
}

.albums {
    flex-grow: 1;
}

.album {
    cursor: pointer;
    position: relative;
}

.albumImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 8px;
    line-height: 1.5;
}

.name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
}

.count {
    font-size: 11px;
}

.album:not(:hover) .description {
    background: transparent;
    color: transparent;
    transition: background .15s ease-out, color .15s ease-out;
}

.half {
    flex: 1 0 0;
    min-height: 0;
    min-width: 0;
    position: relative;
}

.half > img {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
}

.photoBg {
    object-fit: cover;
    filter: opacity(0.5) blur(10px);
}

.photo {
    object-fit: contain;
}

.pair {
    position: relative;
    flex: 1 0 0;
    display: flex;
    outline: none;
}

.vertical {
    flex-direction: column;
}

.button {
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .8);
    height: 32px;
    width: 32px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: .5;
    transition: opacity .15s ease-out;
}

.button:hover {
    transition: none;
    opacity: 1;
}

.back {
    top: 8px;
    left: 8px;
    font-size: 48px;
    padding-bottom: 9px;
}

.choose {
    padding-bottom: 1px;
    transform-origin: 50% 50%;
}

.vertical .choose {
    top: 8px;
    right: 8px;
}

.vertical .half:last-child .choose {
    top: auto;
    bottom: 8px;
    transform: rotate(180deg);
}

.horizontal .choose {
    left: 8px;
    bottom: 8px;
    transform: rotate(-90deg);
}

.horizontal .half:last-child .choose {
    left: auto;
    right: 8px;
    transform: rotate(90deg);
}

.half:hover .choose {
    transition: none;
    opacity: 1;
}

.ok {
    opacity: 1;
    color: #6BC169;
    transform: none !important;
}

.snd {
    top: 8px;
    left: 48px;
}

.view {
    top: 8px;
    left: 88px;
    filter: grayscale(1);
}

.loading {
    font-size: 32px;
    padding-bottom: 4px;
}

.loading > span {
    animation: spin 1s infinite;
    padding-bottom: 4px;
}

@keyframes spin {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}

.paranja {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    cursor: pointer;
}

.help {
    width: 320px;
    padding: 16px 24px;
    font-weight: 400;
    line-height: 1.4;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    color: #444;
    z-index: 2;
}

.confirm {
    display: block;
    margin-top: 16px;
    padding: 8px 32px;
    cursor: pointer;
    background-color: #5e81a8;
    color: #fff;
    border: 0;
    border-radius: 3px;
    font: inherit;
}

.close {
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: -8px;
    right: -32px;
    opacity: 0.7;
    transition: opacity .15s ease-out;
    pointer-events: none;
}

.paranja:hover ~ .help > .close {
    opacity: 1;
    transition: none;
}
